DEBUG=1
APPLY_MIGRATIONS=1
CREATE_ADMIN_USER=1
ADMIN_USER_PASSWORD=admin
TOKEN_AUTH_ACCEPTED_SCOPE_PREFIX=atv
TOKEN_AUTH_ACCEPTED_AUDIENCE=https://api.hel.fi/auth/atv
TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
TOKEN_AUTH_REQUIRE_SCOPE=True
# Optionals (with a default value on settings.py)
FIELD_ENCRYPTION_KEYS=


SENTRY_DSN=https://abcdefg@your.sentry.here/999
SENTRY_ENVIRONMENT=local
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_TRACES_IGNORE_PATHS=/healthz,/readiness
