DEBUG=1
APPLY_MIGRATIONS=1
CREATE_ADMIN_USER=1
ADMIN_USER_PASSWORD=admin
TOKEN_AUTH_ACCEPTED_SCOPE_PREFIX=atv
TOKEN_AUTH_ACCEPTED_AUDIENCE=https://api.hel.fi/auth/atv
TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
TOKEN_AUTH_REQUIRE_SCOPE=True
# Optionals (with a default value on settings.py)
FIELD_ENCRYPTION_KEYS=

ENABLE_SEND_AUDIT_LOG=0
ELASTIC_CREATE_DATA_STREAM=1
ELASTIC_HOST=atv-elastic
ELASTIC_SSL=0
