Django~=3.2
django-cors-headers
django-environ
django-filter
django-guardian
django-helusers
django-searchable-encrypted-fields
djangorestframework
djangorestframework-api-key
drf-extensions
drf-oidc-auth==0.10.0
drf-spectacular
psycopg2
sentry_sdk
elasticsearch==7.15.2
pyclamd
jsonschema
